*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: #f1faee;
}

.heading{
    text-align: center;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300%;
    width: 100%;
    color: #fff;
    background-color: #e63946;
    padding: 1.5% 0;
    margin-top:0;
}

.main-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffd6a5;
    width: 50%;
    margin: 3%;
    padding: 3%;
    /* row-gap: 5%; */
    /* column-gap: 1%; */
}

.box{
    font-size: 350%;
    font-weight: 900;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 11%;
    border: 1px solid #000;
    margin: 1%;
}

.example{
    background-color: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2%;
}

.image{
    width: 100%;
    height: 60%;
}